@model IEnumerable<PE.Models.Account>

@{
    ViewData["Title"] = "Accounts Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Account List</h1>
<!--link-->
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Accounts list</span>
        </nav>
    </div>
</div>

<!--select box filter-->



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Role)*@

                        @if (item.Role == null)
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Unknow</div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>@Html.DisplayFor(modelItem => item.Role.RoleName)</div>
                            </div>
                        }
                    </td>
                    <td>
                        @if (item.Active)
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Active</div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Block</div>
                            </div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLogin)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AccountId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

